<div class="content-manager-container">
  <h2>Inhaltsmanager</h2>

  <div *ngIf="notificationMessage" class="notification-message-wrapper">
    <div class="notification-message" [ngClass]="{'success': notificationType === 'success', 'error': notificationType === 'error'}">
      {{ notificationMessage }}
    </div>
  </div>

  <button class="add-button" (click)="onAddContent()">Neuen Inhalt hinzufügen</button>

  <app-content-form-modal
    *ngIf="showContentModal && selectedContent"
    [content]="selectedContent"
    [currentUserId]="currentUserId"
    (contentSaved)="onContentSaved($event)"
    (cancelEdit)="onCancelEditFromModal()">
  </app-content-form-modal>

  <app-delete-form-modal
    *ngIf="showDeleteConfirmationModal && postToDelete"
    [itemName]="postToDelete.Titel"
    (confirmDelete)="onDeleteConfirmation($event)">
  </app-delete-form-modal>

  <div class="content-list-container">
    <h3>Bestehende Inhalte</h3>
    <table class="content-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Kategorie</th>
        <th>Erstellt am</th>
        <th>Aktionen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let content of contents">
        <td>{{ content.BeitragsID }}</td>
        <td>{{ content.Titel }}</td>
        <td>
          <ng-container [ngSwitch]="content.KategorieID">
            <span *ngSwitchCase="1">News</span>
            <span *ngSwitchCase="2">Bogenschießen</span>
            <span *ngSwitchCase="3">Jugend und Schueler</span>
            <span *ngSwitchCase="4">Pistolensport</span>
            <span *ngSwitchCase="5">Senioren</span>
            <span *ngSwitchCase="6">Damen</span>
            <span *ngSwitchCase="7">Tradition</span>
            <span *ngSwitchCase="8">Verein Infos</span>
            <span *ngSwitchCase="9">Geschichte</span>
            <span *ngSwitchCase="10">Vorstand</span>
            <span *ngSwitchCase="11">Beitraege</span>
            <span *ngSwitchCase="12">Einrichtung</span>
            <span *ngSwitchCase="13">Kontakt und Anfahrt</span>
            <span *ngSwitchCase="14">Schuetzenfest</span>
            <span *ngSwitchDefault>Unbekannt</span>
          </ng-container>
        </td>
        <td>{{ content.Erstellungsdatum | date:'shortDate' }}</td>
        <td class="actions-cell">
          <button class="btn-icon" (click)="onEditContent(content)" title="Bearbeiten">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn-icon btn-danger" (click)="onDeleteContent(content)" title="Löschen">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
