<div class="auth-container">
  <div class="auth-form-wrapper">
    <div class="logo-placeholder">
      <img src="/assets/Logo1.png" class="login-logo">
    </div>

    <h2>Registrierung</h2>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="vorname">Vorname</label>
        <input id="vorname" type="text" formControlName="vorname" class="form-control">
        <div *ngIf="registrationForm.get('vorname')?.touched && registrationForm.get('vorname')?.invalid" class="error-message">
          Vorname ist ein Pflichtfeld.
        </div>
      </div>

      <div class="form-group">
        <label for="nachname">Nachname</label>
        <input id="nachname" type="text" formControlName="nachname" class="form-control">
        <div *ngIf="registrationForm.get('nachname')?.touched && registrationForm.get('nachname')?.invalid" class="error-message">
          Nachname ist ein Pflichtfeld.
        </div>
      </div>

      <div class="form-group">
        <label for="email">E-Mail</label>
        <input id="email" type="email" formControlName="email" class="form-control">
        <div *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.invalid" class="error-message">
          Bitte geben Sie eine gültige E-Mail an.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Passwort</label>
        <input id="password" type="password" formControlName="password" class="form-control">
        <div *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.invalid" class="error-message">
          Das Passwort muss mindestens 8 Zeichen lang sein.
        </div>
      </div>

      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button type="submit" [disabled]="registrationForm.invalid">Registrieren</button>
    </form>

    <div class="links">
      <a routerLink="/login-component" routerLinkActive="active">Bereits ein Konto? Anmelden</a>
    </div>
  </div>
</div>