<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="">Schützenverein Bremen Huchting</a>
  </div>
  <ul class="navbar-nav">
    <li><a routerLink="/news-component">News</a></li>
    <li><a routerLink="/der-verein">Der Verein</a></li>
    <li><a routerLink="/abteilungen">Abteilungen</a></li>
    <li><a routerLink="/termine-component">Termine</a></li>
    <li><a routerLink="/registration-component">Registrieren</a></li>

    <li *ngIf="authService.getUserRole() === 2 || authService.getUserRole() === 3">
      <a routerLink="/dashboard/leiter">Leiter Dashboard</a>
    </li>

    <li *ngIf="authService.getUserRole() === 3">
      <a routerLink="/dashboard/admin">Admin Dashboard</a>
    </li>

    <ng-container *ngIf="authService.isLoggedIn() | async; else loginLink">
      <li><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
    </ng-container>
    <ng-template #loginLink>
      <li><a routerLink="/login-component">Login</a></li>
    </ng-template>

  </ul>
</nav>
