<div class="main-container">
  <section class="hero-section">
    <img src="assets/Schützenverein2.jpg" alt="Schützenverein Bremen Huchting" class="hero-image">
    <div class="hero-content">
      <h1>Schützenverein Bremen Huchting</h1>
      <div class="hero-buttons">
        <button class="primary-button" routerLink="/registration">Registrieren</button>
      </div>
    </div>
  </section>

  <div class="content-wrapper">
    <app-section-format
      [mode]="2" text="Unsere modernen Schießstände bieten optimale Bedingungen für alle Disziplinen wie Groß- und Kleinkaliber, Luftpistole und Bogen. Hier finden Sie die perfekte Umgebung für Training und Wettkämpfe, unterstützt von erfahrenen Trainern."
      imgsource="assets/Schiessstand.png">
    </app-section-format>

    <app-section-format
      [mode]="2" text="Entdecken Sie den Schießsport bei uns! Ob Anfänger oder Fortgeschrittener, unter professioneller Anleitung können Sie verschiedene Disziplinen ausprobieren – von Luftpistole bis Großkaliber und Bogenschießen. Wir bieten sicheres Training, auch ohne eigenen Waffenschein, und spezielle Events für Jedermann. Altersgrenzen gemäß § 27 WaffG sind zu beachten."
      imgsource="assets/Gastschutz.JPG">
    </app-section-format>

    <section class="termin-section">
      <h2>Termine machen ganz einfach</h2>
      <p>
        Melde dich zu Veranstaltungen an – bequem von zu Hause oder unterwegs. Unser einfaches System macht es dir leicht, deinen Platz zu sichern und immer auf dem Laufenden zu bleiben.
      </p>
      <button class="primary-button" routerLink="/termin">Jetzt Termin buchen</button>
    </section>

    <section class="impressum-section">
      <h2>Impressum</h2>
      <h3>Schützenverein Huchting und Umgegend von 1911 e.V.</h3>
      <p><strong>Postanschrift:</strong><br>
        Schützenverein Huchting von 1911 e.V.<br>
        Obervielander Str. 84<br>
        28259 Bremen<br>
        Telefon: 0421- 56 03 17 - Nur während der Trainingszeit besetzt!<br>
        <a href="mailto:info@schuetzenverein-Huchting.de">info&#64;schuetzenverein-Huchting.de</a></p>

      <p><strong>1. Vorsitzender</strong><br>
        Jörg Heidmann<br>
        c/o Obervielander Str. 84<br>
        28259 Bremen<br>
        Telefon: 0421- 56 03 17 - Nur während der Trainingszeit besetzt!<br>
        <a href="mailto:vorstand@schuetzenverein-huchting.de">vorstand&#64;schuetzenverein-huchting.de</a></p>

      <p><strong>2. Vorsitzender</strong><br>
        Manfred Vagt<br>
        c/o Obervielander Str. 84<br>
        28259 Bremen<br>
        Telefon: 0421- 56 03 17 - Nur während der Trainingszeit besetzt!<br>
        <a href="mailto:vorstand2@schuetzenverein-huchting.de">vorstand2&#64;schuetzenverein-huchting.de</a></p>

      <p><strong>Verantwortlich für diese Seite</strong><br>
        Niclas Rieckers<br>
        c/o Obervielander Str. 84<br>
        28259 Bremen<br>
        Telefon: 0421- 56 03 17 - Nur während der Trainingszeit besetzt!<br>
        <a href="mailto:info@schuetzenverein-Huchting.de">info&#64;schuetzenverein-Huchting.de</a></p>

      <p>Eingetragen im Vereinsregister des Amtsgerichts Bremen: VR 2317</p>

      <h3>Haftungsausschluss</h3>
      <h4>Haftung für Inhalte</h4>
      <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.</p>
      <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei bekannt werden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>

      <h4>Haftung für Links</h4>
      <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>

      <h4>Urheberrecht</h4>
      <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>

      <h4>Datenschutz</h4>
      <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>
      <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</p>
      <p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.</p>
    </section>
  </div>
</div>
