<div class="main-container">
  <section class="hero-section">
    <img src="assets/Schützenverein2.jpg" alt="Schützenverein Bremen Huchting" class="hero-image">
    <div class="hero-content">
      <h1>Schützenverein Bremen Huchting</h1>
      <div class="hero-buttons">
        <button class="primary-button" routerLink="/registration-component">Mitglied werden</button>
      </div>
    </div>
  </section>

  <div class="content-wrapper">
    <app-section-format
      [mode]="2" text="Unsere modernen Schießstände bieten optimale Bedingungen für alle Disziplinen wie Groß- und Kleinkaliber, Luftpistole und Bogen. Hier finden Sie die perfekte Umgebung für Training und Wettkämpfe, unterstützt von erfahrenen Trainern."
      imgsource="assets/Schiessstand.png"> 
    </app-section-format>

    <app-section-format
      [mode]="2" text="Entdecken Sie den Schießsport bei uns! Ob Anfänger oder Fortgeschrittener, unter professioneller Anleitung können Sie verschiedene Disziplinen ausprobieren – von Luftpistole bis Großkaliber und Bogenschießen. Wir bieten sicheres Training, auch ohne eigenen Waffenschein, und spezielle Events für Jedermann. Altersgrenzen gemäß § 27 WaffG sind zu beachten."
      imgsource="assets/Gastschutz.JPG"> 
    </app-section-format>

    <section class="termin-section">
      <h2>Termine machen ganz einfach</h2>
      <p>
        Melde dich zu Veranstaltungen an – bequem von zu Hause oder unterwegs. Unser einfaches System macht es dir leicht, deinen Platz zu sichern und immer auf dem Laufenden zu bleiben.
      </p>
      <button class="primary-button" routerLink="/termine-component">Jetzt Termin buchen</button>
    </section>

    <section class="impressum-section">
      <h2>Rechtliche Hinweise</h2>
      <p>
        Verantwortlich für den Inhalt dieser Seite ist der Schützenverein Huchting von 1911 e.V.
      </p>
      <address>
        Obervielander Str. 84<br>
        28259 Bremen<br>
        Telefon: 0421 - 56 03 17<br>
        E-Mail: <a href="mailto:info@schuetzenverein-Huchting.de">info&commat;schuetzenverein-Huchting.de</a>
      </address>

    </section>
  </div>
</div>