<div>
  <h2>Abteilungen</h2>
  <ul>
    <li
      *ngFor="let abteilung of abteilungen"
      (click)="selectAbteilung(abteilung)"
      [class.active]="abteilung === aktiveAbteilung"
      style="cursor: pointer;"
    >
      {{ abteilung.name }}
    </li>
  </ul>
   <div>
    <h3>Beiträge für {{ aktiveAbteilung.name }}</h3>
    <div *ngIf="beitraege.length > 0; else keineBeitraege">
      <div *ngFor="let beitrag of beitraege">
        <h4>{{ beitrag.titel }}</h4>
        <p>{{ beitrag.inhalt }}</p>
        <small>{{ beitrag.datum | date }}</small>
        <hr />
      </div>
    </div>
    <ng-template #keineBeitraege>
      <p>Keine Beiträge vorhanden.</p>
    </ng-template>
  </div>
</div>