<div>
  <h2>Der Verein</h2>
  <ul>
    <li
      *ngFor="let tab of tabs"
      (click)="selectTab(tab)"
      [class.active]="tab === aktiverTab"
      style="cursor: pointer;"
    >
      {{ tab.name }}
    </li>
  </ul>
   <div>
    <h3>Beiträge für {{ aktiverTab.name }}</h3>
    <div *ngIf="beitraege.length > 0; else keineBeitraege">
      <div class="beitrag_card" *ngFor="let beitrag of beitraege">
        <h4>{{ beitrag.titel }}</h4>
        <p>{{ beitrag.inhalt }}</p>
        <small>{{ beitrag.datum | date }}</small>
        <hr />
      </div>
    </div>
    <ng-template #keineBeitraege>
      <p>Keine Beiträge vorhanden.</p>
    </ng-template>
  </div>
</div>
