<div class="link-manager-container">
  <h2>Download Manager</h2>

  <button class="add-button" (click)="onAddDownload()">Neuen Download hinzufügen</button>

  <app-download-form-modal
    *ngIf="isEditing && selectedDownload"
    [download]="selectedDownload"
    [currentUserId]="currentUserId"
    (downloadSaved)="onDownloadSaved($event)"
    (cancelEdit)="onCancelEditFromModal()">
  </app-download-form-modal>

  <div class="download-list-container">
    <h3>Bestehende Downloads</h3>
    <div
      cdkDropList
      class="download-list"
      (cdkDropListDropped)="drop($event)">
      <div class="download-item" *ngFor="let download of downloads" cdkDrag>
        <div class="drag-handle" cdkDragHandle>☰</div>
        <div class="item-content">
          <img *ngIf="download.showcaseImage" [src]="download.showcaseImage" alt="{{ download.title }}" class="item-image">
          <div class="item-details">
            <h4>{{ download.title }}</h4>
            <p>{{ download.description }}</p>
            <p class="download-url">Download-Link: <a [href]="download.downloadUrl" target="_blank">{{ download.downloadUrl | slice:0:50 }}...</a></p>
          </div>
          <div class="item-actions">
            <button class="btn-icon" (click)="onEditDownload(download)" title="Bearbeiten">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn-icon btn-danger" (click)="onDeleteDownload(download.id)" title="Löschen">
              <i class="fas fa-trash-alt"></i>
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

