<div class="fest-container">
  <h1>Schützenfest im August! 🍻</h1>
  <p class="fest-text">
    Wir freuen uns, euch mitteilen zu können, dass auch dieses Jahr wieder unser traditionelles Schützenfest stattfindet!
  </p>
  <p class="fest-termin">
    <strong>Wann?</strong> Immer am zweiten Wochenende im August.
  </p>
  <div class="fest-bild">
    <img src="assets/sf.jpg" alt="Foto vom Schützenfest">
  </div>
  <p class="fest-info">
    Weitere Informationen zum genauen Programm folgen in Kürze. Wir können es kaum erwarten, mit euch zu feiern!
  </p>

  <div class="beitraege-sektion">
    <h3>Neuste Beiträge zum Schützenfest</h3>
    <div class="beitraege-liste" *ngIf="beitraege.length > 0; else keineBeitraege">
      <div class="beitrag_card" *ngFor="let beitrag of beitraege">
        <h4>{{ beitrag.titel }}</h4>
        <p class="beitrag-inhalt">{{ beitrag.inhalt }}</p>
        <small class="beitrag-datum">{{ beitrag.datum | date:'longDate' }}</small>
        </div>
    </div>
    <ng-template #keineBeitraege>
      <p class="no-posts-message">Aktuell gibt es keine Beiträge zum Schützenfest. Schauen Sie bald wieder vorbei!</p>
    </ng-template>
  </div>

</div>